<div class="cart__item">
  <div class="cart__item-img">
    <img src="assets/images/" alt="" />
  </div>
  <div class="cart__item-info">
    <h3>item.name</h3>
    <p>Категория: item.type.text, Бренд: item.brand.text</p>
  </div>
  <div class="cart__item-count">
    <button><i class="material-icons">exposure_neg_1</i></button>
    totalCount
    <button><i class="material-icons">exposure_plus_1</i></button>
  </div>
  <div class="cart__item-price">totalPrice</div>
  <div class="cart__item-remove">
    <button><i class="material-icons">close</i></button>
  </div>
</div>
