@import "const/mixins";
@import "const/variables";

.cart__item {
  @include typeFlex(row, center, space-between);
  margin-top: 50px;

  &-img {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 10%;

    & img {
      width: 80px;
      height: 80px;
    }
  }

  .cart__item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    & h3 {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.01em;
    }

    & p {
      font-size: 18px;
      color: $secondary-basket-color;
    }
  }

  &-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13%;

    & button {
      cursor: pointer;
      background: none;
      border-radius: 50%;
      @include typeFlex(row, center, center);
      width: 32px;
      height: 32px;
      min-width: 32px;
      padding: 0;
      border: 2px $secondary-color solid;
    }

    & button:focus {
      outline: none;
    }

    & button:hover {
      background: $secondary-color;
      color: $main-color;
    }
  }

  &-price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    font-weight: 600;
    font-size: 22px;
  }

  &-remove {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 4%;

    & button {
      cursor: pointer;
      @include typeFlex(row, center, center);
      width: 32px;
      height: 32px;
      color: $button-secondary-color;
      min-width: 32px;
      background: none;
      border-radius: 50%;
      border: none;
    }

    & button:focus {
      outline: none;
    }

    & button:hover {
      background: $button-secondary-color;
      color: $main-basket-color;
    }

    & svg {
      width: 40px;
      height: 40px;
    }
  }
}
