<section className="main-page-catalog">
    <div className="wrapper">
        <!-- <SectionText paragraph={'К мероприятиям'} heading={'Настоящая красота здесь!'} /> -->
      <ul className="main-menu">
        <!-- {menuButton &&
          menuButton.map((value, index) => (
            <li className="main-menu__item" key={index}>
              <a to="catalog">
                <button
                  className="main-menu__item-button "
                  >
                  {value.text}
                </button>
              </a>
            </li>
          ))} -->
      </ul>
      <div className="tile">
          <app-figure [items]="itemsMenu"></app-figure>
      </div>
    </div>
  </section>