<section class="our-salons">
  <div class="wrapper">
    <div class="section-text">
      <h2 class="section-text__h2">Посетите наши салоны в Москве</h2>
      <p class="section-text__p">Не знаете, что выбрать?</p>
    </div>
    <p class="our-salons__p">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut duis tortor
      vitae pellentesque egestas quam pulvinar. Pellentesque porttitor velit sit
      pellentesque. Suspendisse donec pretium id dignissim. Dignissim ultrices
      eget orci viverra. Egestas quis et ut ultrices imperdiet lectus nulla
      tempus. Pharetra lorem sem purus nisi libero viverra ipsum.
    </p>
    <button class="main-button">Наши салоны</button>
  </div>
</section>
