@import "const/_mixins.scss";
@import "const/_variables.scss";

.header-nav {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.mat-toolbar {
  @include typeText($main-color, $main-font);
  background: #333333;
  color: white;
}
