@import "const/mixins";
@import "const/variables";

.header {
  .header-nav {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    mat-toolbar {
      background: #333333;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 40px 200px;

      button {
        background: $secondary-color;
        @include typeText($main-color, $main-font);
      }
    }
  }
}
