<section class="our-social-networks">
  <div class="wrapper">
    <app-section-text
      [heading]="heading"
      [paragraph]="paragraph"
    ></app-section-text>
    />
    <div class="social-networks">
      <div class="social-networks__top">
        <div>
          <img src="./assets/images/video-ring.png" alt="" />
        </div>
        <div>
          <img src="./assets/images/s-n1.png" alt="" />
          <img src="./assets/images/s-n2.png" alt="" />
        </div>
      </div>
      <div class="social-networks__bottom">
        <div>
          <img src="./assets/images/s-n3.png" alt="" />
          <img src="./assets/images/s-n4.png" alt="" />
        </div>
        <div>
          <img src="./assets/images/video-ring.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
