<section class="our-social-networks">
  <div class="wrapper">
    <div class="section-text">
      <h2 class="section-text__h2">Мы в социальных сетях</h2>
      <p class="section-text__p">#ojjo_jewerly</p>
    </div>
    <div class="social-networks">
      <div class="social-networks__top">
        <div>
          <img src="./assets/images/video-ring.png" alt="" />
        </div>
        <div>
          <img src="./assets/images/s-n1.png" alt="" />
          <img src="./assets/images/s-n2.png" alt="" />
        </div>
      </div>
      <div class="social-networks__bottom">
        <div>
          <img src="./assets/images/s-n3.png" alt="" />
          <img src="./assets/images/s-n4.png" alt="" />
        </div>
        <div>
          <img src="./assets/images/video-ring.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
