@import "const/mixins";
@import "const/variables";

.product {
  text-align: center;
  margin-top: 70px;

  .wrapper {
    @include typeFlex(column, center, center);
    @include wrapper;

    .product-information {
      margin-top: 40px;
      @include typeText($secondary-color, $main-font);
      @include typeFlex(row, none, space-between);
      margin-bottom: 100px;

      &__left {
        width: 45%;
        @include typeFlex(column, center, null);

        &-top {
          width: 100%;
          & img {
            width: 100%;
            height: auto;
          }
        }

        &-bottom {
          margin-top: 62px;
          width: 100%;
          @include typeFlex(row, center, space-between);

          & img {
            width: 29%;
          }
        }
      }

      &__right {
        width: 50%;
        box-sizing: border-box;
        padding: 11px;
        border: 1px solid #d6d6d6;

        .right-information {
          box-sizing: border-box;
          padding: 20px;
          height: 100%;
          border: 1px solid #d6d6d6;

          &__h2 {
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0.1em;
          }

          &__type {
            @include typeFlex(row, center, center);

            & p {
              margin-top: 30px;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0em;
              color: #979797;

              &:first-child {
                margin-right: 30px;
              }

              & label {
                margin-left: 15px;
              }
            }
          }

          &__hr {
            margin: 30px 0;
            background: #d6d6d6;
          }

          &__p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
          }

          &__h4 {
            margin: 30px 0;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 29px;
            letter-spacing: 0.05em;
            text-align: left;
          }

          &__buttons {
            width: 100%;
            @include typeFlex(row, center, justify-content);

            & button:first-child {
              @include mainStyleButton(
                $main-color,
                1px solid $secondary-color,
                $secondary-color
              );
              text-transform: uppercase;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0.05em;
              text-align: center;
              padding: 10px 20px;
              margin-right: 50px;
            }

            & button:last-child {
              text-transform: uppercase;
              @include mainStyleButton(
                $secondary-color,
                1px solid $secondary-color,
                none
              );
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .all-description-product {
      display: flex;
      flex-direction: row;
      padding-bottom: 70px;
      @include typeText($secondary-color, $main-font);

      &__left {
        width: 50%;
        display: flex;
        height: 100%;
        flex-direction: column-reverse;

        &-p {
          text-align: left;
          position: relative;
          height: 100px;
          overflow: hidden;
          order: 0;
        }

        &-p::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: linear-gradient(to top, #ffffff, #ffffff00);
        }

        &-h2 {
          font-size: 30px;
          font-style: normal;
          font-weight: 600;
          line-height: 42px;
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 30px;
        }

        &-button {
          text-transform: uppercase;
          background: none;
          cursor: pointer;
          border: none;
          color: $secondary-color;
          border-bottom: 1px dashed black;
          padding-bottom: 5px;
          margin-top: 10px;
          width: 40%;
          margin-bottom: 50px;

          &:focus {
            outline: none;
          }

          &:focus + .all-description-product__left-p::after {
            display: none;
          }

          &:focus + .all-description-product__left-p {
            height: auto;
            transition: 2s;
          }
        }
      }

      &__right {
        margin-left: 10%;
        width: 30%;
        height: 100%;
        @include typeFlex(column, center, space-between);

        & div {
          @include typeFlex(row, none, space-between);
          width: 100%;
          text-align: center;

          & div {
            width: 50%;
            @include typeFlex(column, center, space-between);

            & img {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}
