@mixin typeText($color, $font-family) {
  color: $color;
  font-family: $font-family;
}

@mixin typeFlex(
  $flex-direction: row,
  $align-items: center,
  $justify-content: center
) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin mainStyleButton($color, $border, $background) {
  text-align: center;
  padding: 15px 35px;
  color: $color;
  border: $border;
  background: $background;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1em;
}

@mixin wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0px auto;
  border-radius: 10px;
  max-width: 1100px;
}
