$main-font: "Montserrat", sans-serif;
$secondary-font: "Gilroy" Serif;

$main-border: 1px solid #ffffff;

$main-color: #fff;
$secondary-color: #333333;

$hr-color: #e6e4e4;
$main-basket-color: black;
$secondary-basket-color: #8d8d8d;
$top-basket-button-color: #b6b6b6;
$button-secondary-color: #dddddd;
